body 
{
	background-image: url("img/fondo.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
}
#titulo
{
	-webkit-text-fill-color: sandybrown;
  	-webkit-text-stroke-color: red;
  	-webkit-text-stroke-width: 0.75px;
  	position:relative;
    padding-bottom: 2%;
}
h2{
	-webkit-text-fill-color: chartreuse;
  	-webkit-text-stroke-color: blue;
  	-webkit-text-stroke-width: 0.75px;
  	position:relative;
    font-size: 200%;
}
#pregunta1{
    position: relative;
    width: 15%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
    
}
#pregunta2{
    position: relative;
    width: 15%;
    height: 30%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
}
#pregunta3{
	position:relative;
    position: relative;
    width: 17%;
    height: 30%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;

}
#pregunta4{
	position:relative;
    position: relative;
    width: 25%;
    height: 30%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
}
#pregunta5{
	position:relative;
    position: relative;
    width: 30%;
    height: 30%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
}
#pregunta6{
	position:relative;
    position: relative;
    width: 15%;
    height: 30%;
    padding: 1%;
    font-size: 175%;
    border-radius: 22%;
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
}
.pregunta7{
	position:relative;
}
.pregunta8{
	position:relative;	
}
.pregunta9{
	position:relative;	
}
.pregunta10{
	position:relative;	
}
#envio{
	position:relative;
    margin-left: 40%;	
}

#instrucciones{
    -webkit-text-fill-color: chartreuse;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.75px;
    margin-bottom: 26%;
    position: absolute;
    bottom: 63%;
    padding-left: 31%;
    padding-right: 29%;
    font-size: 200%;
    float: left;
}
#test{
    padding-left: 31%;
    padding-right: 17%;
    font-size: 200%;
    position: absolute;
    top: 87%;
    float: left;
}
#hiper{
    text-decoration: none;
    position: relative;

    -webkit-text-fill-color: chartreuse;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.75px;
}

p{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.75px;
    position:relative;
    font-size: 150%;
}